.list-view .list-cell:filled:selected {
    -fx-background-color: #ddd !important;
    -fx-text-fill: #000 !important; 
}

.list-view .list-cell:hover {
    -fx-background-color: #eee; 
}

.list-view .list-cell {
    -fx-background-color: transparent;
    /* -fx-padding: 10px; 
    -fx-border-color: #ccc; 
    -fx-border-width: 0 0 1px 0;  */
}

.list-view .list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.list-view .list-cell:selected Label {
    -fx-text-fill: #000 !important;
}